<section>
  <div class="gallery_Collection">
    <div class="item1">
      <img src="{{ 'Coll-1.png' | asset_url }}" alt="Planting Seed" />
      <div class="caption">PLANTING: SEED</div>
    </div>
    <div class="item2">
      <img src="{{ 'Coll-2.png' | asset_url }}" alt="Planting Sprout" />
      <div class="caption">PLANTING: SPROUT</div>
    </div>
    <div class="item3">
      <img src="{{ 'Coll-3.png' | asset_url }}" alt="Planting Root" />
      <div class="caption">PLANTING: ROOT</div>
    </div>
    <div class="item4">
      <img src="{{ 'Coll-4.png' | asset_url }}" alt="Ooooooooh La Tice" />
      <div class="caption">OOOOOOOOOH LA TICE</div>
    </div>
    <div class="item5">
      <img src="{{ 'Coll-5.png' | asset_url }}" alt="Pollinating Palms" />
      <div class="caption">POLLINATING PALMS</div>
    </div>
    <div class="item6">
      <img src="{{ 'Coll-6.png' | asset_url }}" alt="Flora WIP" />
      <div class="caption">FLORA (WIP)</div>
    </div>
  </div>
</section>