<header>
  <section>
    <nav>
      <a href="{{ routes.root_url }}">
        <img src="{{ 'Logo.png' | asset_url }}" alt="Logo" class="logo">
      </a>

      <div class="nav-center">
        <a href="/page/shop">SHOP</a>
        <a href="#">COLLECTIONS</a>
        <a href="{{ pages['about'].url }}">ABOUT</a>
      </div>

      <div class="nav-icons">
        <img src="{{ 'blacksearch.png' | asset_url }}" alt="Search">
        <img src="{{ 'blackuser.png' | asset_url }}" alt="User">
        <img src="{{ 'blackheart.png' | asset_url }}" alt="Wishlist">
        <img src="{{ 'blackbag.png' | asset_url }}" alt="Cart">
      </div>
    </nav>
  </section>
</header>
