{% schema %}
  {
    "name": "Jewelry Shop",
    "settings": [],
    "presets": [
      {
        "name": "Jewelry Shop"
      }
    ]
  }
{% endschema %}

<section>
  <nav>
    <a href="{{ routes.root_url }}">
      <img
        src="{{ 'Logo.png' | asset_url }}"
        alt="Logo"
        class="logo" />
    </a>
    <div class="nav-center">
      <a href="{{ routes.collections_url }}">SHOP</a>
      <a href="{{ routes.collections_url }}">COLLECTIONS</a>
      <a href="/pages/about">ABOUT</a>
    </div>
    <div class="nav-icons">
      <img src="{{ 'blacksearch.png' | asset_url }}" alt="Search" />
      <img src="{{ 'blackuser.png' | asset_url }}" alt="User" />
      <img src="{{ 'blackheart.png' | asset_url }}" alt="Favorites" />
      <img src="{{ 'blackbag.png' | asset_url }}" alt="Cart" />
    </div>
  </nav>
</section>

<section>
  <div class="Filter-nav">
    <ul class="Filter-nav-links">
      <li>
        <a href="/collections/all">ALL</a>
      </li>
      <li>
        <a href="/collections/rings">RINGS</a>
      </li>
      <li>
        <a href="/collections/earrings">EARRINGS</a>
      </li>
      <li>
        <a href="/collections/necklaces">NECKLACES</a>
      </li>
      <li>
        <a href="/collections/bracelets">BRACELETS</a>
      </li>
    </ul>
    <div class="filter">
      <img src="{{ 'icon_filter.png' | asset_url }}" alt="Filter" />
      <span>FILTER</span>
    </div>
  </div>
</section>

<section>
  <main class="gallery">
    <div class="product">
      <img src="{{ 'G1.png' | asset_url }}" alt="Sprout Ear Studs" />
      <p class="name">SPROUT EAR STUDS -
        <span class="price">€200</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G2.png' | asset_url }}" alt="Zephyr Ring" />
      <p class="name">ZEPHYR RING -
        <span class="price">€215</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G3.png' | asset_url }}" alt="Germina Bracelet" />
      <p class="name">GERMINA BRACELET -
        <span class="price">€335</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G4.png' | asset_url }}" alt="Spoon Necklace" />
      <p class="name">SPOON NECKLACE -
        <span class="price">€335</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G5.png' | asset_url }}" alt="Sprout Ear Studs" />
      <p class="name">SPROUT EAR STUDS -
        <span class="price">€200</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G1.png' | asset_url }}" alt="Sprout Ear Studs" />
      <p class="name">SPROUT EAR STUDS -
        <span class="price">€200</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G2.png' | asset_url }}" alt="Zephyr Ring" />
      <p class="name">ZEPHYR RING -
        <span class="price">€215</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G3.png' | asset_url }}" alt="Germina Bracelet" />
      <p class="name">GERMINA BRACELET -
        <span class="price">€335</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G4.png' | asset_url }}" alt="Spoon Necklace" />
      <p class="name">SPOON NECKLACE -
        <span class="price">€335</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G5.png' | asset_url }}" alt="Sprout Ear Studs" />
      <p class="name">SPROUT EAR STUDS -
        <span class="price">€200</span>
      </p>
    </div>
  </main>
</section>