<style>
  @font-face {
    font-family: "CenturySchoolbook";
    src: url("{{ 'SCHLBKB.TTF' | asset_url }}") format("truetype");
  }
  .collection_heading {
    padding: 20px;
  }

  .collection_heading img {
    height: 20px;
    width: 250px;
    /* object-fit: cover; */
  }
  .collection_heading p {
    width: 720px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -4%;
    font-family: CenturySchoolbook;
    line-height: 20px;
  }
</style>

{% comment %} Static Shopify section for the SEED collection gallery and filter navigation {% endcomment %}

<section>
  <div class="Filter-nav">
    <ul class="Filter-nav-links">
      <li>
        <a href="#">ALL</a>
      </li>
      <li>
        <a href="#">RINGS</a>
      </li>
      <li>
        <a href="#">EARRINGS</a>
      </li>
      <li>
        <a href="#">NECKLACES</a>
      </li>
      <li>
        <a href="#">BRACELETS</a>
      </li>
    </ul>
    <div class="filter">
      {% comment %} <img src="{{ 'icon_filter.png' | asset_url }}" alt="Filter Icon" /> {% endcomment %}
      <span>FILTER</span>
    </div>
  </div>
</section>

<section>
  <div class="collection_heading">
    <img src="{{ 'PLANTING_ SEED.png' | asset_url }}" alt="Planting Seed Banner" />
    <p>
      Launching the brand felt like planting a seed. The first part of the
 
 
 
      collection, inspired by this concept, embodies the essence of a seed —
      wholesome, perfect in its imperfection, and brimming with the
      potential to sprout into something unexpectedly beautiful. The rings
      in this collection embrace the simplicity of form, inviting wearers to
      embark on a SEED journey of growth.
    </p>
  </div>
</section>

<section>
  <main class="gallery">
    <div class="product">
      <img src="{{ 'G1.png' | asset_url }}" alt="Sprout Ear Studs" />
      <p class="name">SPROUT EAR STUDS -
        <span class="price">€200</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G2.png' | asset_url }}" alt="Zephyr Ring" />
      <p class="name">ZEPHYR RING -
        <span class="price">€215</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G3.png' | asset_url }}" alt="Germina Bracelet" />
      <p class="name">GERMINA BRACELET -
        <span class="price">€335</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G4.png' | asset_url }}" alt="Spoon Necklace" />
      <p class="name">SPOON NECKLACE -
        <span class="price">€335</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G5.png' | asset_url }}" alt="Sprout Ear Studs" />
      <p class="name">SPROUT EAR STUDS -
        <span class="price">€200</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G1.png' | asset_url }}" alt="Sprout Ear Studs" />
      <p class="name">SPROUT EAR STUDS -
        <span class="price">€200</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G2.png' | asset_url }}" alt="Zephyr Ring" />
      <p class="name">ZEPHYR RING -
        <span class="price">€215</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G3.png' | asset_url }}" alt="Germina Bracelet" />
      <p class="name">GERMINA BRACELET -
        <span class="price">€335</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G4.png' | asset_url }}" alt="Spoon Necklace" />
      <p class="name">SPOON NECKLACE -
        <span class="price">€335</span>
      </p>
    </div>
    <div class="product">
      <img src="{{ 'G5.png' | asset_url }}" alt="Sprout Ear Studs" />
      <p class="name">SPROUT EAR STUDS -
        <span class="price">€200</span>
      </p>
    </div>
  </main>
</section>